body {
  font-family: "Roboto", serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

.links {
  margin-left: 10px;
}
.background {
  margin-left: 20px;
}

.menu {
  position: absolute;
  top: 100px;
  left: -250px;
  width: 250px;
  height: 300px;
  background: #333;
  color: white;
  padding-top: 60px;
  transition: 0.3s;
  border-radius: 20px;
}
.menu a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
}
.menu a:hover {
  background: #575757;
}
.burger {
  position: absolute;
  top: 105px;
  left: 40px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 100;
  border-radius: 10px;
}
.burger div {
  width: 30px;
  height: 5px;
  background: black;
  margin: 5px 0;
  transition: 0.3s;
}
.menu.active {
  left: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 50;
}
.overlay.active {
  display: block;
}

.theme-switcher {
    margin-left: auto; /* Размещение кнопки справа */
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333; /* Цвет иконки для светлой темы */
    transition: color 0.3s ease;
}

#theme-toggle:hover {
    color: #007bff; /* Цвет при наведении */
}

/* Стили для темной темы */
body.dark-theme #theme-toggle {
    color: #fff; /* Цвет иконки для темной темы */
} 

/* Темная тема */
body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

body.dark-theme .header,
body.dark-theme .footer,
body.dark-theme .card {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.dark-theme a,
body.dark-theme p,
body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3 {
    color: #ffffff;
}

/* Дополнительные стили для темной темы */
body.dark-theme .btn {
    background-color: #333;
    color: #fff;
}

body.dark-theme .btn:hover {
    background-color: #555;
}

.container-main {
  max-width: 1600px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.card-top {
  display: flex;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #737373;
}

.card-top a {
  color: #737373;
}

.icon {
  font-size: 16px;
}

.top-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eff0f0;
  height: 43px;
  max-width: 100%;
}

.icons a .icon-stat:hover {
  color: #ca0100;
}

.header {
  padding: 15px 50px;
}

.logo-name {
  font-family: "Michroma", sans-serif;
  font-weight: bold;
}

.logo-description {
  font-size: 13px;
  font-weight: 500;
  color: #737373;
}

.start {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
}

.red {
  background-color: #ca0100;
  border-radius: 25%;
  color: #fff;
}

.background p {
  font-size: 16px;
  font-weight: 700;
}

.header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header nav ul li {
  margin-right: 20px;
}

.header nav ul li a {
  text-decoration: none;
  color: #262626;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

.contacts {
  display: flex;
  gap: 20px;
}

.small-phone {
  text-align: right;
}

.first-mobile {
  font-size: 20px;
}

.header nav ul li a:hover {
  color: #ca0100;
}

.call {
  width: 200px;
  height: 50px;
  margin-right: 50px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #ca0100;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.call:hover {
  background-color: #9a0a0a;
}

.header-logo-text {
  margin-right: 10px;
}

/* HERO */

.options {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff00;
  border: none;
}

.background-city {
  position: relative;
}

.options select {
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  cursor: pointer;
}

.icons a .icon-stat {
  color: #737373;
  text-decoration: none;
  height: 21px;
  width: 24px;
  text-align: center;
  margin-top: 18px;
  margin-left: 20px;
}

.city {
  position: absolute;
  margin-top: -600px;
  margin-left: 300px;
}

.swiper-pagination-bullet {
  background: #737373;
  width: 10px;
  height: 10px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #fff;
  border: 3.5px solid #ca0100;
}

.mashines {
  position: absolute;
  margin-top: -500px;
  margin-left: 200px;
  background-color: #ca0100;
  width: 210px;
  height: 30px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  border-radius: 33px;
  text-align: center;
  padding-top: 5px;
}

.texts {
  position: absolute;
  margin-top: -450px;
  margin-left: 200px;
}

.texts h1 {
  font-size: 50px;
}

.texts h2 {
  color: #737373;
  margin-top: 10px;
  font-size: 26px;
  font-weight: 400;
}

/* Общий контейнер */
.car-selection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Логотипы брендов */
  .brands {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 100px;
    align-items: start;
  }




  /* Фильтр справа */
  .filter {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 490px;
    height: 350px;
  }
  
  .filter h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .filter label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 30px;
  }
  
  /* Стили для ползунка */
  .filter input[type="range"] {
   
    width: 100%;
    margin-bottom: 10px;
  }
  
  /* Фильтр с кнопками */
  .filter-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .filter select {
    margin-top: 30px;
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 237px;
height: 65px;
border-width: 1px;
  }
  
  /* Кнопка */
  .filter button {
    width: 450px;
height: 65px;
    padding: 10px;
    background: #CA0100;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filter button:hover {
    background: darkred;
  }
  

.swiper-pagination {
  left: 10px;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1400px;
}

.swiper {
  width: 100%;
  max-width: 1400px;
  padding-top: 50px;
  margin: 0 auto;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 15%;
  transform: translateY(-50%);
  color: #262626;
  width: 40px;
  height: 60px;
}

.swiper-button-next {
  right: -40px;
}

.swiper-button-prev {
  left: -40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px;
  font-weight: bold;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.card {
  width: 446px;
  height: 500px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.car-image {
  width: 100%;
  border-radius: 10px;
}

.title {
  font-size: 27px;
  font-weight: bold;
}

.price {
  font-size: 22px;
  font-weight: bold;
}

.money {
  margin-top: 40px;
  display: flex;
  color: #262626;
  align-items: center;
  justify-content: space-between;
}

.badge-vygod {
  position: absolute;
  margin-left: 190px;
  margin-top: -35px;
  color: #ca0100;
  line-height: 15px;
  font-weight: 500;
}

.card-icon1 {
  font-size: 26px;
  position: absolute;
  margin-left: 170px;
  margin-top: -30px;
  cursor: pointer;
}

.card-icon2 {
  font-size: 22px;
  position: absolute;
  margin-left: 190px;
  margin-top: -29px;
  cursor: pointer;
}

.card-icon2:hover {
  color: #ca0100;
}

.card-icon1:hover {
  color: #ca0100;
}

.credit {
  font-weight: bold;
}

.PTS {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.PTS-text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.PTS-btn {
  background-color: #ca0100;
  width: 312px;
  height: 65px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.PTS-btn:hover {
  background-color: #9a0a0a;
}

.offers {
  margin-top: 20px;
}

.features {
  font-size: 16px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.btn {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 180px;
}

.btn-red {
  background: red;
  color: white;
}

.btn-gray {
  background: gray;
  color: white;
}

.car {
  width: 273;
  height: 152;
  position: absolute;
  margin-left: 140px;
  margin-top: 100px;
}

.background-car {
  position: absolute;
  margin-left: 60px;
  margin-top: 10px;
}

.kia {
  position: absolute;
  margin-top: -296px;
  margin-left: -100px;
}

.badge-text {
  position: absolute;
  margin-top: -28px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.badge {
  margin-top: 10px;
}

.offer-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.offer-highlight {
  color: #ca0100;
  font-weight: bold;
}

.gift-icon {
  background-color: #262626;
  border-radius: 50%;
  color: #fff;
  width: 32px;
  height: 32px;
  font-size: 15px;
}

.specs {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.spec-item {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #ffffff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  border: 1px solid #c2c2c4;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  position: relative;
  margin-top: -170px;
}

.btn {
  flex: 1;
  padding: 12px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-red {
  background: red;
  color: white;
}

.btn-red:hover {
  background: darkred;
}

.btn-black {
  background: black;
  color: white;
}

.btn-black:hover {
  background: #333;
}

.btn-gray {
  background: gray;
  color: white;
}

.btn-gray:hover {
  background: darkgray;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.burger-icon {
  font-size: 24px;
}

/* 2 swiper  */
.custom-swiper {
    max-width: 1200px;
    margin: auto;
  }
  
  .custom-swiper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -20px;
    margin-top: 50px;
    font-size: 24px;
  }
  
  .custom-swiper-all {
    background: #CA0100;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .custom-swiper-container {
    position: relative;
    overflow: hidden;
  }
  
  .swiper-slide {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .swiper-slide img {
    width: 100%;
    display: block;
  }
  
  .custom-swiper-overlay {
    position: absolute;
    bottom: 40px;
    left: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    gap: 100px;
  }
  
  .custom-swiper-overlay button {
    background: #CA0100;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    width: 142px;
height: 40px;
  }
  
  
  .custom-swiper-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
  }
/* 3-swiper */

.special-offers {
    padding: 40px;
  }
  
  .special-offers__title {
    margin-top: 60px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .special-swiper {
    position: relative;
    overflow: hidden;
  }
  
  .special-swiper__wrapper {
    display: flex;
  }
  
  .special-swiper__slide {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: #f5f5f5;
    width: 447px;
height: 196px;
border-radius: 25px
  }
  
  .special-swiper__slide img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .special-swiper__content {
    position: absolute;
    bottom: 10px;
    left: 15px;
    padding: 10px;
    border-radius: 10px;
    line-height: 30px;
  }
  
  .special-swiper__content h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .special-swiper__button {
    background: #C2C2C4;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 142px;
height: 40px;
border-radius: 6px;
margin-top: 65px;
  }
  
  .special-swiper__prev,
  .special-swiper__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
/*4-slider */


.box-offer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #ca0100, #000000);
  color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 1400px;
  height: 328px;
  border-radius: 25px;
  margin: 0 auto;
  position: relative;
  top: 200px;
  transform: translateY(-50%);
  line-height: 30px;
}

.box {
  width: 474px;
  height: 319px;
  margin-left: -185px;
}

.big {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900;
}

.low {
  font-size: 20px;
  font-weight: 400;
}

.phone-input {
  width: 369px;
  height: 65px;
  border-radius: 6px;
  margin-top: 30px;
  font-size: 20px;
  border: none;
}

.phone-input::placeholder {
  padding-right: 240px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #262626;
}

.get-offer {
  background-color: #ca0100;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  width: 369px;
  height: 65px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.get-offer:hover {
  background-color: #9a0a0a;
}

.hero {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.images {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  left: -80px;
}

/* car-credit  */

.form-container .credit-name {
  margin-top: 30px;
  font-size: 40px;
}
.form-container {
  background-color: #eff0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1400px;
  margin: 80px auto;
}

.label select {
  margin-left: 30px;
  width: 220px;
  height: 46px;
  border-radius: 6px;
  justify-content: space-evenly;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}

.credit {
  display: flex;
}

.label {
  width: 400px;
  height: 92px;
  display: flex;
  align-items: center;
}
.car-model {
  display: flex;
  background-color: #c2c2c4;
  width: 840px;
  height: 92px;
  border-radius: 25px;
  margin-left: 100px;
  align-items: center;
}
.slider-container1 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 400px;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #ca0100;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -8px;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ca0100;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #ca0100;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  background: #ddd;
  border-radius: 2px;
}

input[type="range"]::-moz-range-track {
  height: 4px;
  background: #ddd;
  border-radius: 2px;
}

input[type="range"]::-ms-track {
  height: 4px;
  background: #ddd;
  border-radius: 2px;
}

label {
  display: block;
  margin-bottom: 5px;
}
.car-credit {
  margin-left: 100px;
}
.form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  margin-left: 100px;
}

.credit-text {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.credit-text span {
  font-weight: 400;
  font-size: 26px;
}

.result-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.result-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 48%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-label {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.result-value {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.offer-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -100px;
  margin-left: 50px;
  width: 400px;
  height: 440px;
}

.offer-header .offer-title {
  font-size: 30px;
  margin-bottom: 10px;
  color: #333;
  margin-left: 20px;
  margin-top: 20px;
}

.offer-header .offer-discount {
  font-size: 32px;
  font-weight: bold;
  color: #ca0100;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: -10px;
}

.offer-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  height: 65px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 20px;
  border: 2px solid #e1e1e1;
}

.offer-button {
  text-align: center;
  width: 340px;
  height: 65px;
  border-radius: 6px;
  padding: 10px;
  background-color: #ca0100;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
  text-align: center;
}

.offer-button:hover {
  background-color: #9d2e22;
}

.offer-footer {
  font-size: 10px;
  color: #737373;
  margin-top: 10px;
  text-align: center;
  line-height: 15px;
}

.offer-footer a {
  color: #737373;
}

.review-main-container {
  display: flex;
  gap: 20px;
}
.review-container {
  background-color: #eff0f0;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 660px;
  height: 145px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-container p {
  font-size: 18px;
  color: #adadb0;
}
.review-header {
  margin-left: 30px;
}

.review-header img {
  width: 224px;
  height: 46px;
}
.review-rating-main {
  display: flex;
  align-items: center;
  gap: 60px;
}
.review-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review-rating .stars {
  color: #ffd700;
  font-size: 20px;
}
.review-recommendation {
  font-size: 14px;
  color: #555;
}
.score {
  width: 110px;
  height: 60px;
  border-radius: 10px;
  background-color: #55bc6b;
  font-size: 43px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* feedback  */

.feedback-card-h1 {
  text-align: start;
  margin-left: 40px;
  margin-top: 50px;
  color: #333;
  margin-bottom: 30px;
}

.feedback-cards {
  display: flex;
}

.feedback-video {
  width: 446px;
  height: 291px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-left: -20px;
  margin-top: -20px;
}

.feedback-card {
  background-color: #f2f2f2;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 447px;
  height: 585px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.feedback-card h2 {
  margin-top: 0;
  color: #262626;
  font-size: 20px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 25px;
}

.feedback-card p {
  color: #737373;
  line-height: 1.6;
  margin: 10px 0;
  font-size: 16px;
}

.feedback-card .short-text {
  display: block;
}

.feedback-card .full-text {
  display: none;
  margin-top: 10px;
}

.feedback-card .full-text.visible {
  display: block;
}

.feedback-card .toggle-button {
  color: #262626;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  background-color: #e1e1e1;
  width: 188px;
  height: 36px;
  margin-top: 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-card .toggle-button:hover {
  color: #585858;
}

/* about-company  */
.about-section {
  padding: 50px 20px;
  width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.about-section-video {
  width: 924px;
  height: 573px;
  border-radius: 25px;
}

.about-section h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #262626;
}

.about-section p {
  font-size: 18px;
  line-height: 1.8;
  color: #737373;
  margin-bottom: 30px;
}

/* map  */

.company-map p {
  color: #737373;
  font-size: 16px;
}

.custom-header {
  color: #262626;
  padding: 10px 20px;
  text-align: start;
  margin-left: 140px;
}

#custom-info {
  width: 1200px;
  margin: 0 auto;
  margin-left: 140px;
  margin-bottom: 80px;
}

.custom-nav {
  margin-left: 130px;
  padding: 10px;
}

.custom-nav button {
  background-color: #fff;
  color: #262626;
  font-size: 16px;
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.custom-nav button:hover {
  color: #442121;
}

.custom-nav button.active {
  color: #ca0100;
  text-decoration: underline;
}

.custom-container {
  display: none;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  margin-left: 140px;
}

.custom-container.active {
  display: block;
}

.map iframe {
  margin: 0 auto;
  width: 1480px;
  height: 570px;
  position: relative;
}

.contact-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 401px;
  height: 258px;
  border-radius: 15px;
  margin: 20px auto;
  position: absolute;
  margin-top: -450px;
  margin-left: 900px;
}

.call-icon {
  width: 23px;
  height: 23px;
  background-color: #ca0100;
  border-radius: 50%;
  color: #fff;
  font-size: 9px;
}

.time-icon {
  width: 23px;
  height: 23px;
  background-color: #ca0100;
  border-radius: 50%;
  color: #fff;
  font-size: 9px;
}

.location-icon {
  width: 23px;
  height: 23px;
  background-color: #ca0100;
  border-radius: 50%;
  color: #fff;
  font-size: 9px;
}
.icon-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-info p,
.location-info p {
  color: #262626;
  font-size: 16px;
  line-height: 1.6;
  margin: 10px 0;
  font-weight: 500;
}

.how-go {
  background-color: #ca0100;
  color: #fff;
  width: 244px;
  height: 53px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

/* footer  */

.footer {
    background-color: #262626;
    color: #ccc;
    font-size: 14px;
    padding: 40px 0;
    width: 1540px;
    height: 308px;
    margin-left: -30px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
  }
  

  .container {
    width: 80%;
    margin: 0 auto;
  }
  

  .footer-columns {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-column {
    width: 30%;
    min-width: 200px;
    margin-left: 100px;
  }
  

  .footer-title {
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 10px;
    border-bottom: 2px solid red;
  }

  .footer-title1{
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 10px;
    border-bottom: 2px solid red;
    width: 90px;
  }

  .call-icon1 {
    width: 23px;
    height: 23px;
    background-color: #ca0100;
    border-radius: 50%;
    color: #fff;
    font-size: 9px;
  }
  
  .time-icon1 {
    width: 23px;
    height: 23px;
    background-color: #ca0100;
    border-radius: 50%;
    color: #fff;
    font-size: 9px;
  }
  
  .location-icon1 {
    width: 23px;
    height: 23px;
    background-color: #ca0100;
    border-radius: 50%;
    color: #fff;
    font-size: 9px;
  }
  .icon-content1 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .chme{
    color: #ca0100;
  }
  
  .footer-title.active {
    color: #fff;
    border-bottom: 2px solid red;
    display: inline-block;
    padding-bottom: 5px;
  }
  

  .footer-list {
    list-style: none;
    padding: 0;
  }

  .footer-list a {
    color: #737373;
  }

  .footer-list-all{
    display: flex;
    gap: 40px;
  }
  
  .footer-list li {
    margin-bottom: 5px;
  }

  .gray {
    color: #737373;
  }
  

  .footer-bottom {
    background-color: #1B1B1B;
    border-top: 1px solid #222;
    height: 140px;
    margin-top: 30px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #777;
  }
  

  .footer-rating {
    display: flex;
    align-items: center;
  }
  
  .footer-rating img {
    width: 218px;
height: 73px;
    margin-right: 5px;
    margin-right: 100px;
  }

  .link-footer{
    display: flex;
    gap: 10px;
  }

  .left-link-footer{
    margin-left: 100px;
  }

  .link-footer p a{
    text-decoration: none;
    color: #737373;
  }

  .left-link-footer h1{
font-weight: 400;
font-size: 18px;
color: #fff;
margin-bottom: 15px;
  }

  .ser-link-foot{
    width: 613px;
height: 61px;
  }

  .options1 {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff00;
    border: none;
  }
  
  
  .options1 select {
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #262626;
  }

/* end  */

  

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  * {
    box-sizing: border-box;
  }

  .burger-menu {
    display: block;
  }

  .links nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
  }

  .links nav ul.active {
    display: flex;
  }

  .links nav ul li {
    margin: 10px 0;
  }

  .contacts {
    display: none;
  }
}
